
# Philosophy
# Deproxy does not itself conform to the HTTP RFC's in all cases. It is instead
# used to test other application for conformance. Therefore, Deproxy be aware
# of all HTTP specifications and must provide facilities for testing against
# them, even in cases where Deproxy will not conform to the specs. For example,
# to test how a proxy responds to a client or server that sets invalid values
# for headers, Deproxy must generate those invalid values.

# HTTP/1.1 standard: http://tools.ietf.org/html/rfc2616
# HTTP/1.0 standard: http://tools.ietf.org/html/rfc1945
# HTTP/0.9 protocol: http://www.w3.org/Protocols/HTTP/AsImplemented.html

# Additional information:
# http://www.w3.org/Protocols/History.html
# http://www.w3.org/Protocols/DesignIssues.html
# http://www.w3.org/Protocols/Classic.html
# http://www.w3.org/Protocols/
# http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol

proxies must not forward connection header

